html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
main {
    background-color: white;
    padding: 15px 5% 20px 5%;
}

.customH1 {
    animation: animates 3s infinite linear;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
}
@keyframes animates {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}
/* .customH2 {
    color: #260033;
    
    position: relative;
    animation: animateNew 6s linear infinite;
    z-index: 1;
} */
/* .customH2::before {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw #260033;
    overflow: hidden;
    animation: animateNew 6s linear infinite;
} */
@keyframes animateNew {
    0% {
        
        -webkit-text-stroke: 0.3vw black;
    }
    70% {
        
        -webkit-text-stroke: 0.3vw white;
    }
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer p {
    text-align: center;
}

